* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: Arial, sans-serif;
}

.clock {
    background: #222;
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 30px black;
}

#time {
    font-size: 70px;
    font-weight: bold;
    color: #00ff88;
    letter-spacing: 5px;
}

#date {
    margin-top: 15px;
    font-size: 25px;
    color: white;
}